.root {
	font-family: 'Roboto';
	font-size: 13px;
	line-height: 23px;
	font-weight: 300;
	display: block;

	&_inline {
		.item {
			display: inline-block;
			margin-right: 20px;
		}
	}
}

.item {
	display: block;
	margin-bottom: 5px;
}
