.root {
	position: relative;
	font-size: 0;
	margin-left: 30px;
	display: block;
}

.title {
	position: relative;
	overflow: hidden;
	padding-bottom: 8px;
	display: flex;

	&::after {
		background: #6C0400;
		height: 1px;
		content: '';
		margin-left: 15px;
		flex-grow: 1;
		align-self: center;
	}

	&_events {
		margin-left: 36.5%;

		&::before {
			position: absolute;
			right: 4px;
			top: 4px;
			width: 18px;
			height: 18px;
			border: 1px solid;
			border-color: #6C0400 #6C0400 transparent transparent;
			transform: rotate(45deg) translateY(-.5px);
			content: '';
			box-sizing: border-box;
		}
	}
}

.events {
	display: inline-block;
	width: calc(100% - 335px);
	min-width: 680px;
	margin-right: 20px;
	vertical-align: top;
	position: relative;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 12px;
		width: calc(28.4% - 70px);
		left: calc(8.1% + 55px);
		background: #6C0400;
		height: 1px;
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 12px;
		width: 8.1%;
		left: 0;
		background: #6C0400;
		height: 1px;
		max-width: 61px;
	}
}

.cols {
	margin-top: -47px;
	font-size: 0;
	position: relative;
	padding-bottom: 34px;
	padding-left: 12px;
	display: block;
	pointer-events: none;

	&::after {
		content: '';
		top: 28px;
		bottom: 0;
		width: 1px;
		background: #6C0400;
		display: block;
		position: absolute;
		left: 0;
	}
}

.success {
	width: calc(100% - 700px);
	max-width: 315px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}

.text {
	margin-top: 15px;
	margin-bottom: 45px;
	padding-right: 30px;
	display: block;
}

.projects {
	padding-right: 30px;
	display: block;
}
