.root {
	padding-left: 6%;
	padding-right: 6%;
	padding-bottom: 50px;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	display: block;
}

.title {
	font-family: 'PT Sans Narrow';
	font-size: 35px;
	line-height: 1;
	color: #6A0005;
	margin-bottom: 15px;
	margin-left: 40px;
	font-weight: 400;
	display: block;
}

.subtitle {
	margin-left: 40px;
	color: #6A0005;
	font-family: 'PT Sans Narrow';
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 11px;
	font-weight: 400;
	display: block;
}

.group {
	position: relative;
	max-width: 950px;
	display: block;
}

.index {
	width: 45px;
	position: absolute;
	top: 2px;
	left: 0;
	color: #333333;
	font-size: 12px;
	font-family: 'Roboto';
	font-weight: 300;
}

.text {
	margin-bottom: 10px;
	line-height: 18px;
	padding-left: 45px;
	display: block;
	color: #333333;
	font-size: 12px;
	font-family: 'Roboto';
	font-weight: 300;

	/* stylelint-disable selector-no-type */
	/* generated from json */
	strong {
		color: inherit;
		font-size: inherit;
		font-family: inherit;
		line-height: inherit;
		font-weight: 400;
	}
}
