@import 'helpers';

.root {
	display: block;
	padding-top: 36px;
	font-family: 'Roboto';
}

.inner {
	position: relative;
	width: 940px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: inherit;
	font-size: inherit;
	color: currentColor;
}

.subtitle {
	display: block;
	margin-top: 15px;
}

.list {
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
}

.item {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	width: 30%;
}

.icon {
	display: block;
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

.description {
	font-family: 'Roboto';
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 22px;
	color: var(--color-tinkoff-gray);
}

.nb {
	display: block;
	padding: 25px 0;
	margin-top: 50px;
	font-family: 'Roboto';
	font-size: 15px;
	background-color: var(--color-tinkoff-gray-light);
	color: var(--color-tinkoff-gray);
}

.nbIcon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5px;
	margin: auto;
	width: 38px;
	height: 38px;
}

.nbText {
	display: block;
	padding-left: 65px;
	font-family: inherit;
	font-size: inherit;
	font-weight: 500;
	color: currentColor;
}
