.root {
	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
	position: relative;
	box-sizing: border-box;

	&_size_oneThird {
		width: 33.333%;
	}

	&_size_oneFourth {
		width: 25%;
		padding-left: 0;
		padding-right: 0;
	}

	&_size_twoThird {
		width: 66.666%;
	}

	&_size_half {
		width: 50%;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	&_offset_oneThird {
		margin-left: 33.333%;
	}

	&_small_hidden {
		@media (max-width: 1250px) {
			display: none;
		}
	}

	&_small_full {
		@media (max-width: 1250px) {
			width: 100%;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}
