.root {
	color: #333333;
	display: block;
}

.header {
	margin-bottom: 10px;
	display: block;
	font-family: 'Roboto';
	font-size: 15px;
	line-height: 1;
	font-weight: 300;
}

.link {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-decoration: underline;
	color: #056383;
	transition: color .3s ease;

	&:hover {
		color: #DF0B0B;
	}
}
