.root {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.layout {
	position: relative;
	z-index: 2;
	padding: 5px;
	background-color: #FFFFFF;
	display: block;
}

.hint {
	position: relative;
	z-index: 1;
	padding-top: 33px;
	padding-left: 25px;
	height: 44px;
	box-sizing: border-box;
	display: block;
}

.arrow {
	position: absolute;
	top: 15px;
	left: 0;
	z-index: 1;
	width: 18px;
	height: 26px;
}
