.root {
	margin-left: auto;
	margin-right: auto;
	width: 91.538%;
	max-width: 1190px;
	position: relative;
	display: block;
}

.header {
	width: 361px;
	height: 92px;
	margin: 0 auto;
}

.rocket {
	position: absolute;
	width: 7.5%;
	height: 321px;
	top: 69px;
	left: 4%;
	transform: translate3d(0, 0, 0);
	will-change: transform;
	backface-visibility: hidden;
}

.services {
	padding-top: 97px;
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
	position: relative;
}

.service {
	padding-left: 70px;
	width: 50%;
}

.satellite {
	position: absolute;
	top: -7px;
	width: 33%;
	height: 211px;
	right: 210px;
	pointer-events: none;
}

.content {
	margin-top: 115px;
}
