.root {
	display: block;

	&_small {
		.label {
			font-size: 12px;
		}
	}
}

.input {
	display: none;
}

.label {
	position: relative;
	padding-left: 20px;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	line-height: 23px;
	font-family: 'Roboto';
	font-size: 13px;
	font-weight: 300;

	&::before {
		position: absolute;
		top: 4px;
		left: 0;
		height: 12px;
		width: 12px;
		border: 1px solid #333333;
		content: '';
	}

	&::after {
		position: absolute;
		top: 4px;
		left: 0;
		height: 11px;
		width: 4px;
		margin: -3px 0 0 5px;
		border-right: 3px solid #333333;
		border-bottom: 3px solid #333333;
		opacity: 0;
		content: '';
		transform: rotate(40deg) scale(3);
		transition: .125s ease-out;
	}
}

.input:checked + .label::after {
	opacity: 1;
	transform: rotate(40deg) scale(1);
}
