.root {
	display: block;
}

.title {
	font-family: 'RodchenkoCTT';
	color: #333333;
	text-transform: uppercase;
	font-size: 27px;
	line-height: 1;
	display: block;

	&_size_middle {
		font-size: 50px;
	}

	&_size_big {
		font-size: 63px;
		line-height: 48px;
		margin-bottom: 23px;
	}
}

.mechanism {
	margin-top: 20px;
	margin-bottom: 38px;
	max-width: 100%;
	width: 774px;
	height: 328px;
}
