@import 'helpers';

.root {
	background-image: url('../../images/background/footer.svg');
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: 440px 66px;
	height: 65px;
	display: block;
}

.inner {
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

.link {
	color: var(--color-footer-link);
	transition: color .3s ease;
	font-family: 'PT Sans';
	font-size: inherit;
	line-height: 17px;
	text-decoration: underline;

	&_indent {
		margin-right: 10px;
	}

	&:hover {
		cursor: pointer;
		color: var(--color-white);
	}
}

.payment {
	margin-left: 28px;
	margin-top: 7px;
}

.paymentIcon {
	width: 37px;
	height: 24px;
	display: inline-block;
	margin-right: 10px;
}

.invite {
	position: relative;
	padding-left: 40px;
	width: 22%;
	font-family: 'PT Sans';
	font-size: 12px;
	line-height: 17px;
	color: var(--color-footer-text);
}

.invalid {
	width: 37px;
	height: 38px;
	bottom: 0;
	left: 0;
	position: absolute;
}

.links {
	display: flex;
	justify-content: space-between;
	width: 22%;
	font-size: 12px;
	margin-right: 45px;
}

.copyright {
	margin-right: 15px;
	font-size: 14px;
	font-family: 'PT Sans';
	color: var(--color-footer-text);
}
