.root {
	color: #F2EBDA;
}

.title {
	font-family: 'RodchenkoCTT';
	font-size: 32px;
	text-transform: uppercase;
	line-height: 39px;
	color: #F4E0BB;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: underline;

	&:hover {
		cursor: pointer;
		color: #F2ECDE;
	}
}

.subtitle {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 17px;
	line-height: 27px;
	margin-bottom: 22px;
	margin-top: 12px;
	color: #74898F;
	display: block;
}

.text {
	margin: 40px 0 0;
	display: block;
}
