.root {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	display: block;
}

.rocket {
	width: 692px;
	max-width: 100%;
	height: 706px;
	margin-top: 53px;
	margin-right: 30px;
	background-image: url('../../images/background/rocket.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	padding-top: 100px;
	padding-left: 51%;
	display: block;
	box-sizing: border-box;
}

.rocketCount {
	width: 76px;
	height: 76px;
	margin-top: -89px;
	margin-left: -38px;
	position: absolute;
}
