.root {
	display: block;
	width: 52px;
	height: 64px;
}

.link {
	margin-top: 10px;
	display: block;
	font-size: 12px;
	line-height: 16px;
	font-family: 'Roboto';
	font-weight: 300;
	width: 90px;
	color: #056383;
	transition: color .3s ease;
	text-decoration: underline;

	&:hover {
		color: #DF0B0B;
	}
}

.size {
	font-family: 'Roboto';
	font-weight: 300;
	display: block;
	margin-top: 8px;
	font-size: 10px;
	color: #333333;
}
