.root {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	cursor: url('../../images/cursor/close.png') 15 15, url('../../images/cursor/close.cur'), ne-resize;
	user-select: none;
	visibility: hidden;
	background-color: #FFFFFF;
	background-position: 50% 50%;
	background-size: cover;
	opacity: 0;
	transition: visibility 0 linear .33s, opacity .33s ease;
	will-change: top, left, z-index, visibility, opacity;

	&::selection {
		background-color: transparent;
	}

	&_state_active {
		visibility: visible;
		opacity: 1;
		transition-delay: 0;
	}

	&_project_yota {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-image: url('../../images/outsource/yota.gif');
	}

	&_project_cpeople {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-image: url('../../images/outsource/cpeople.gif');
	}
}

.title {
	font-family: 'Courier New', 'Courier', monospace;
	font-weight: 7000;
	line-height: 1;
	cursor: default;
	color: #F2EBDA;
	width: 640px;
	font-size: 22px;
	display: block;
}

.link {
	display: inline-block;
	line-height: 14px;
	color: #F2EBDA;
	border-bottom: 1px solid currentColor;
}

.selection {
	display: block;
	background-color: rgba(0, 136, 255, .5);
}

.comment {
	font-weight: 700;
	cursor: default;
	margin-top: 22px;
	width: 640px;
	display: block;

	/* stylelint-disable selector-no-type */
	/* generated from markdown */
	p {
		display: block;
		font-family: 'Courier New', 'Courier', monospace;
		font-size: 14px;
		line-height: 20px;
		color: #F2EBDA;
	}
}
