.root {
	display: flex;
}

.links {
	width: 230px;
	display: inline-block;
	vertical-align: top;
	margin-top: 47px;
	margin-left: 15px;
	flex-shrink: 0;
}

.link {
	position: relative;
	margin-bottom: 3px;
	padding-left: 7px;
	box-sizing: border-box;
	display: block;
	height: 26px;
	width: 100%;
	transition-duration: .25s;
	transition-property: color;
	will-change: color;
	cursor: pointer;

	&::after {
		display: inline-block;
		height: 100%;
		content: '';
		vertical-align: middle;
	}

	&:hover {
		color: #C72823;
	}

	&_active {
		pointer-events: none;
		background: #FDB00B;

		.text {
			border-bottom: 0;
			color: #6C0400;
			pointer-events: none;
		}

		&::before {
			border-top: 13px solid transparent;
			border-bottom: 13px solid transparent;
			border-left: 6px solid #FDB00B;
			position: absolute;
			left: 100%;
			content: '';
			display: block;
			top: 0;
		}
	}
}

.text {
	display: inline;
	vertical-align: middle;
	border-bottom: 1px dotted;
	font-family: 'PT Sans Narrow';
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .029em;
	cursor: inherit;
	color: #6B0000;
}

.tab {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-left: 58px;
	margin-top: -11px;
	flex-grow: 1;
}

.content {
	position: absolute;
	padding-top: 262px;
	margin-top: -262px;
	top: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity .3s ease;
	z-index: 1;
	display: block;

	&_active {
		position: relative;
		pointer-events: initial;
		z-index: 2;
		opacity: 1;
		transition-delay: .3s;
	}
}
