.root {
	margin-bottom: 18px;
	display: block;
}

.item {
	position: relative;
	display: block;
	margin-bottom: 5px;

	&::before {
		position: absolute;
		top: 9px;
		left: -20px;
		width: 10px;
		height: 1px;
		content: '';
		background-color: #A75D52;
	}

	&_size_s {
		&::before {
			top: 11px;
		}
	}
}
