.root {
	width: 420px;
	margin-top: 20px;
	display: block;
}

.submit {
	margin-top: 30px;
	width: 170px;
	display: inline-block;
	vertical-align: middle;

	&_disabled {
		pointer-events: none;
		opacity: .5;
	}
}

.loader {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	margin-top: 30px;
	opacity: 0;
	transition: opacity .3s ease;

	&_active {
		opacity: 1;
	}
}

.error {
	position: absolute;
	margin-top: 20px;
	margin-left: 460px;
	width: 280px;
}
