@import 'helpers';

.root {
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Roboto';
	display: block;

	&_color {
		&_gray {
			color: var(--color-tinkoff-gray);
		}

		&_white {
			color: var(--color-white);
		}
	}

	&_align {
		&_center {
			text-align: center;
		}
	}
}
