.root {
	font-size: 16px;
	line-height: 27px;
	font-family: 'Roboto';
	font-weight: 300;
	color: #333333;
	margin-bottom: 10px;
	display: block;

	&_center {
		text-align: center;
	}

	&_noindent {
		margin-bottom: 0;
	}

	&_size_l {
		font-size: 18px;
		line-height: 28px;
	}

	&_size_m {
		font-size: 15px;
		line-height: 21px;
	}

	&_size_s {
		font-size: 14px;
		line-height: 22px;
	}

	&_size_xs {
		font-size: 12px;
		line-height: 19px;
	}

	&_size_xxs {
		font-size: 10px;
		line-height: 18px;
	}

	&_weight_normal {
		font-weight: 400;
	}

	&_color_grey {
		color: #B2BAB7;
	}

	&_color_white {
		color: #FFFFFF;
	}
}
