.root {
	margin-left: auto;
	margin-right: auto;
	width: 32px;
	height: 32px;
	clear: both;
	border: 4px solid rgba(107, 0, 0, .25);
	border-top: 4px solid #6B0000;
	border-radius: 50%;
	animation: circloader .6s infinite linear;

	&_size_big {
		width: 62px;
		height: 62px;
		border-width: 6px;
	}

	&_color_white {
		border-color: rgba(255, 255, 255, .2);
		border-top-color: #FFFFFF;
	}
}

@keyframes circloader {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(359deg);
	}
}
