.root {
	display: block;

	&_size_half {
		display: inline-block;
		width: calc(50% - 5px);
		margin-right: 10px;

		& + & {
			margin-right: 0;
		}
	}
}

.label {
	font-size: 13px;
	line-height: 15px;
	color: #666666;
	cursor: pointer;
	font-family: 'PT Sans';
	display: block;
}

.input {
	margin-top: 4px;
	margin-bottom: 9px;
	padding-left: 9px;
	padding-right: 9px;
	width: 100%;
	height: 36px;
	display: block;
	font-family: 'PT Sans';
	font-weight: 700;
	font-size: 14px;
	color: #333333;
	background-color: transparent;
	border: 1px solid #969696;
	transition: all .5s;
	box-sizing: border-box;

	&:focus {
		border-color: #333333;
	}

	&_textarea {
		resize: vertical;
		height: 100px;
		padding-top: 9px;
		padding-bottom: 9px;
	}

	&_error {
		border: 1px solid rgb(199, 38, 26);
	}

	&[disabled] {
		color: #666666;
		-webkit-text-fill-color: #666666;
	}
}
