.root {
	display: block;
}

.link {
	color: #056383;
	transition: color .3s ease;
	text-decoration: underline;
	font-size: inherit;
	font-family: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
	line-height: inherit;

	&:hover {
		color: #DF0B0B;
	}
}

.item {
	display: block;
	margin-bottom: 16px;
}

.date {
	font-size: 12px;
	line-height: 21px;
	font-family: 'PT Sans';
	color: #666666;
}
