@import 'helpers';

.root {
	height: 40px;
	width: 78%;
	position: relative;
	display: block;
}

.list {
	position: relative;
	z-index: 2;
	background-color: var(--color-menu);
	height: 100%;
	display: flex;
	list-style: none;

	&::after {
		position: absolute;
		content: '';
		height: 40px;
		width: 6px;
		right: -6px;
		top: 3px;
		background-color: #F1C87B;
		transform: skewY(45deg);
	}

	&::before {
		position: absolute;
		top: 40px;
		left: 6px;
		width: 100%;
		height: 6px;
		transform: skew(45deg);
		transform-origin: 0 100% 0;
		content: '';
		background-color: var(--color-menu-shadow);
	}
}

.item {
	height: 40px;
	flex-grow: 1;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	position: relative;

	&:first-child,
	&:last-child {
		pointer-events: none;
	}
}

.shadow {
	position: absolute;
	top: 24px;
	left: 0;
	margin-left: -28px;
	height: 44px;
	width: 100%;
	z-index: 1;
	background-color: #000000;
	opacity: .2;

	&::before {
		content: '';
		position: absolute;
		right: -23px;
		top: 22px;
		width: 41px;
		height: 22px;
		background-color: #000000;
		transform: skew(-46deg);
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: -12px;
		width: 29px;
		height: 29px;
		background-color: #000000;
		transform: skewY(-40deg);
	}
}
