@import 'helpers';

.root {
	display: block;
	background-image: url('../../../images/tinkoff/banner.jpg');
	background-size: cover;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 75px 0;
	width: 940px;
}

.js {
	display: block;
	min-width: 234px;
	height: 234px;
}

.texts {
	color: var(--color-white);
	font-family: 'Roboto';
}

.description {
	display: block;
	font-size: 22px;
	font-weight: 500;
	color: inherit;
	font-family: inherit;
}
