.root {
	position: relative;
	padding-left: 54px;
	display: block;

	&::after {
		position: absolute;
		top: -5px;
		left: 0;
		font-family: 'PT Sans';
		font-size: 80px;
		line-height: 1;
		color: #F2EBDA;
		content: '\201c';
	}

	/* stylelint-disable selector-no-type */
	/* generated from markdown */
	p {
		margin: 0;
		font-size: 17px;
		line-height: 22px;
		color: #F2EBDA;
		font-family: 'PT Sans';
		display: block;
	}
}
