.root {
	display: inline-block;
	position: relative;
	z-index: 3;
	border: medium none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	height: 42px;
	background-color: #FFA202;
	user-select: none;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&::before {
		content: '';
		position: absolute;
		left: 3px;
		top: 100%;
		width: 100%;
		height: 5px;
		background-color: #CD4500;
		transform: skew(30deg);
		transform-origin: 0 100% 0;
		z-index: 2;
		pointer-events: none;
	}

	&::after {
		content: '';
		position: absolute;
		height: 42px;
		width: 3px;
		right: -3px;
		top: 3px;
		background-color: #FC9700;
		transform: skewY(60deg);
		pointer-events: none;
	}

	&:hover {
		background-color: #FFB820;
	}

	&:active {
		top: 3px;
		left: 1px;

		&::before {
			height: 2px;
			left: 2px;
		}

		&::after {
			width: 2px;
			right: -2px;
			top: 1px;
		}

		.shadow {
			top: 11px;
			left: -5px;

			&::before {
				top: -5px;
				left: 0;
				width: 6px;
			}

			&::after {
				top: 34px;
				right: -5px;
				height: 5px;
			}
		}
	}

	&_type_form {
		width: 100%;

		.inner {
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}

		.shadow {
			background: #D7BE92;
			box-shadow: 3px 0 #D7BE92;
			opacity: 1;

			&::before,
			&::after {
				background: #DAC092;
			}
		}
	}

	&_type_social {
		.inner {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}

.inner {
	background-color: inherit;
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	z-index: 2;
	padding: 2px 49px;
	font-family: 'PT Sans';
	font-weight: 700;
	font-size: 16px;
	line-height: 38px;
	font-style: italic;
	color: #591200;
	text-shadow: 0 1px rgba(255, 255, 255, .6);
	pointer-events: none;
	box-sizing: border-box;

	&::after {
		position: absolute;
		top: 2px;
		bottom: 2px;
		left: 2px;
		right: 2px;
		display: block;
		content: '';
		border: 1px dashed #902E08;
	}
}

.icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	position: relative;
	top: -1px;
	display: inline-block;
	vertical-align: middle;
	color: #3F2114;
	pointer-events: none;
}

.shadow {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background-color: #000000;
	top: 16px;
	left: -12px;
	opacity: .4;
	box-shadow: 3px 0 #000000;
	pointer-events: none;

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: -9px;
		left: 0;
		width: 12px;
		height: 25px;
		background-color: #000000;
		transform: skewY(-45deg);
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 30px;
		right: -9px;
		width: 23px;
		height: 11px;
		background-color: #000000;
		transform: skewX(-45deg);
	}
}
