.root {
	height: 165px;
	width: 100%;
	border: 2px dashed #C7261A;
	position: relative;
	cursor: pointer;
	display: block;
	box-sizing: border-box;

	&:hover {
		.background {
			background-color: rgba(255, 255, 255, .2);
		}

		.text {
			color: #333333;
		}
	}

	&_active {
		.background {
			background: url('../../images/background/fileupload-target.svg') no-repeat;
			background-size: 115px;
			background-position: center center;
			background-color: rgba(255, 255, 255, .2);
		}

		.text {
			opacity: 0;
		}
	}
}

.background {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background-color: rgba(233, 216, 184, .3);
	transition: all .3s ease;
}

.text {
	text-align: center;
	line-height: 152px;
	color: #847C6B;
	font-family: 'PT Sans';
	font-size: 13px;
	cursor: pointer;
	display: block;
	transition: all .3s ease;
}
