.root {
	display: block;
	width: 100%;
	height: 100%;
	pointer-events: inherit;
	color: inherit;
	cursor: inherit;

	/* stylelint-disable selector-no-type */
	/* icon have no class */
	svg {
		display: block;
		width: inherit;
		height: inherit;
		color: inherit;
		cursor: inherit;
		pointer-events: inherit;
	}
}
