.root {
	margin: 0 auto 92px;
	width: 472px;
	font-family: 'RodchenkoCTT';
	font-size: 55px;
	text-transform: uppercase;
	font-style: italic;
	line-height: 56px;
	color: #333333;
	display: block;
}

.left {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	text-transform: inherit;
	line-height: inherit;
	color: inherit;
	display: block;
}

.right {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	text-transform: inherit;
	line-height: inherit;
	color: inherit;
	display: block;
	padding-left: 88px;
	padding-top: 5px;
}
