@import 'helpers';

.root {
	display: block;
	font-weight: 300;
	font-size: 44px;
	line-height: 1.4;
	font-family: 'Roboto';

	&_color {
		&_black {
			color: var(--color-black);
		}

		&_white {
			color: var(--color-white);
		}
	}

	&_align {
		&_center {
			text-align: center;
		}
	}

	&_size {
		&_s {
			font-size: 38px;
		}
	}
}
