.root {
	display: block;
}

.input {
	display: none;
}

.label {
	position: relative;
	padding-left: 20px;
	cursor: pointer;
	user-select: none;
	display: block;
	line-height: 23px;
	font-family: 'Roboto';
	font-size: 13px;
	font-weight: 300;

	&::before {
		position: absolute;
		top: 3px;
		left: 0;
		height: 14px;
		width: 14px;
		border: 1px solid #333333;
		border-radius: 100%;
		content: '';
	}

	&::after {
		position: absolute;
		top: 3px;
		left: 0;
		height: 8px;
		width: 8px;
		margin: 4px;
		background-color: #333333;
		border-radius: 100%;
		opacity: 0;
		content: '';
		transition: .125s ease-out;
		transform: scale(0);
	}
}

.input:checked + .label::after {
	opacity: 1;
	transform: rotate(40deg) scale(1);
}
