@import 'helpers';

.root {
	position: relative;
}

.input {
	z-index: -1;
	position: absolute;
	opacity: 0;

	&:focus {
		& + .label::before {
			box-shadow: 0 0 1px 1px #FED500;
		}
	}

	&:checked {
		& + .label::after {
			display: block;
		}
	}
}

.label {
	display: inline-block;
	color: #666666;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 1.5;
	cursor: pointer;
	padding-left: 27px;

	&::before {
		content: '';
		position: absolute;
		top: 1px;
		left: 0;
		width: 16px;
		height: 16px;
		background-color: var(--color-white);
		border: 1px solid #DDDDDD;
		border-radius: 2px;
		box-sizing: border-box;
	}

	&::after {
		content: '';
		position: absolute;
		top: 6px;
		left: 3px;
		width: 10px;
		height: 4px;
		border-left: 1px solid #77808C;
		border-bottom: 1px solid #77808C;
		box-sizing: border-box;
		transform: rotate(-45deg);
		display: none;
	}
}
