.root {
	position: relative;
	padding-top: 60px;
	padding-left: 130px;
	padding-right: 130px;
	border-top: 1px dashed #231F20;
	display: block;
	box-sizing: border-box;

	&::after {
		content: '';
		position: absolute;
		top: -13px;
		left: 64px;
		z-index: 2;
		width: 30px;
		height: 26px;
		background-image: url('../../images/background/cut.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		transform: rotate(-90deg);
	}
}

.form {
	width: 420px;
}
