.root {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 22;
	background-image:
		radial-gradient(
			circle at 50% 200px,
			rgba(234, 217, 185, .25) 130px,
			rgba(234, 217, 185, .15) 500px,
			rgba(234, 217, 185, 0) 1000px
		),
		url('../../images/background/page.jpg');
	background-color: #043351;
	background-size: 100% 2000px, auto;
	background-repeat: no-repeat, repeat;
	overflow: hidden;

	&_full {
		.sidebar {
			transform: translate3d(-100%, 0, 0);
		}

		.open {
			transition-delay: .3s;
			transform: translate3d(30px, 0, 0);
		}

		.page {
			padding-right: 0;
			transition-delay: 0;
			transform: translate3d(0, 0, 0);
		}
	}
}

.sidebar {
	width: 230px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	transition: transform .3s ease;
	transform: translate3d(0, 0, 0);
}

.page {
	position: absolute;
	height: 100%;
	width: 100%;
	padding-right: 230px;
	box-sizing: border-box;
	transition: transform .3s ease, padding-right 0 linear .3s;
	transform: translate3d(230px, 0, 0);
}

.open {
	width: 30px;
	height: 30px;
	position: absolute;
	left: -30px;
	transition: transform .3s ease;
	cursor: pointer;
	z-index: 2;
	background-color: #ECDCC4;
	background-image: url('../../images/background/content.jpg');
	color: #333333;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 9px;
		left: 9px;
		width: 10px;
		height: 10px;
		border-right: 2px solid;
		border-bottom: 2px solid;
	}

	&::before {
		content: '';
		position: absolute;
		top: 13px;
		left: 8px;
		width: 13px;
		height: 2px;
		transform: rotate(45deg);
		background-color: currentColor;
	}
}
