@import 'helpers';

.root {
	display: block;
	background-color: var(--color-tinkoff-yellow);
	color: var(--color-black);
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5;
	font-family: 'Roboto';
	padding: 7px 36px;
	border-radius: 6px;
	transition: background .2s ease;
	cursor: pointer;

	&:hover {
		color: currentColor;
		background-color: var(--color-tinkoff-yellow-dark);
	}

	&_size {
		&_l {
			font-size: 16px;
			padding: 11px 30px;
		}
	}
}
