.root {
	padding-bottom: 10px;
	display: block;
}

.item {
	margin-top: 11px;
	display: block;
}

.link {
	font-size: 17px;
	font-family: 'Roboto';
	font-weight: 300;
	text-decoration: underline;
	color: #056383;
	transition: color .3s ease;

	&:hover {
		cursor: pointer;
		color: #DF0B0B;
	}
}

.hh {
	margin-left: 8px;
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 17px;
}
