.root {
	width: 100%;
	display: flex;
}

.info {
	width: 33%;
	position: relative;
	flex-shrink: 0;
	padding-right: 25px;
	box-sizing: border-box;
}

.image {
	padding-left: 5px;
	height: 86px;
	display: block;
}

.link {
	font-family: 'PT Sans';
	font-size: 14px;
	color: #0099CC;
	text-decoration: none;
	position: relative;
	top: -10px;
	margin-left: 10px;
	cursor: pointer;

	&:hover {
		color: #FFFFFF;
	}
}

.questions {
	width: 67%;
	box-sizing: border-box;
	padding: 40px 0 50px;
	border-top: 1px solid #5D798A;
	display: flex;
	justify-content: space-between;
}

.column {
	width: 43%;
}

.subtitle {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	color: #E9E2D3;
	display: block;
	margin-bottom: 10px;
}

.question {
	margin-bottom: 20px;
	display: block;
}
