.root {
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	box-sizing: border-box;
	padding: 0 3% 0 calc(3% + 10px);
	pointer-events: none;

	&:nth-child(2) {
		padding-left: 2.3%;
	}

	&:nth-child(3) {
		padding-left: 1.2%;
	}
}

.title {
	display: block;
	padding: 9px 0 0;
	width: 200px;
	pointer-events: all;
}

.image {
	pointer-events: none;
	height: 293px;
	margin-bottom: -74px;
	width: 110px;
	background-repeat: no-repeat;
	margin-left: -10px;
	display: block;

	&_type_rocket {
		background-image: url('../../images/outsource/rocket.svg'), url('../../images/outsource/circle.png');
		background-size: 63px 223px, 110px;
		background-position: 15px 7px, center;
	}

	&_type_sattelite {
		background-image: url('../../images/outsource/sattelite.svg'), url('../../images/outsource/circle.png');
		background-size: auto, 110px auto;
		background-position: center;
	}

	&_type_antena {
		background-image: url('../../images/outsource/antena.svg'), url('../../images/outsource/circle.png');
		background-size: 110px;
		background-position: center;
	}
}
