.root {
	position: relative;
	border: 1px dashed #231F20;
	margin-top: 30px;
	margin-left: -150px;
	margin-bottom: 40px;
	padding-top: 40px;
	padding-left: 150px;
	padding-right: 40px;
	padding-bottom: 30px;
	min-height: 195px;
	display: block;
	box-sizing: border-box;
}

.scissors {
	position: absolute;
	width: 15px;
	height: 16px;
	top: 43%;
	left: -8px;
}

.file {
	position: absolute;
	top: 37px;
	left: 40px;
}
