@import 'helpers';

.root {
	display: block;
	padding-top: 66px;
	padding-bottom: 70px;
}

.subtitle {
	display: block;
	margin-top: 15px;
}

.thanks {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 690px;
	display: flex;
	border: 1px solid var(--color-tinkoff-gray-form-borders);
	border-radius: 2px;
	padding: 35px 50px 33px 98px;
	box-sizing: border-box;
}

.icon {
	display: block;
	width: 114px;
	height: 114px;
}

.texts {
	font-family: 'Roboto';
	font-weight: 300;
	line-height: 1.5;
	margin-top: 20px;
	margin-left: 50px;
}

.title {
	display: block;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	font-size: 28px;
}

.description {
	display: block;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin-top: 2px;
	font-size: 18px;
	color: var(--color-tinkoff-gray);
}
