.root {
	position: relative;
	display: inline-block;
}

.content {
	position: relative;
	z-index: 3;
	margin-left: 1px;
	display: inline-block;
	font-family: 'PT Sans';
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
	color: #056383;
	font-size: 13px;

	&:focus {
		outline: none;
		z-index: 1;
	}

	&:focus + .full {
		opacity: 1;
		transform: scale(1);
	}
}

.full {
	position: absolute;
	bottom: 30px;
	padding: 15px 5px 25px 16px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 13px;
	color: #333333;
	line-height: 20px;
	background-color: #F0E7D6;
	border: 1px solid #C93124;
	width: 245px;
	left: -122px;
	transform: scale(0);
	opacity: 0;
	transform-origin: bottom center;
	transition: .3s ease-in-out;
	z-index: 10;
	box-sizing: border-box;

	&::before {
		position: absolute;
		z-index: 2;
		top: 100%;
		bottom: -16px;
		left: 50%;
		margin-left: -3px;
		display: block;
		content: '';
		border: 6px solid transparent;
		border-top: 9px solid #F0E7D6;
	}

	&::after {
		content: '';
		display: block;
		border: 6px solid transparent;
		border-top: 9px solid #C93124;
		position: absolute;
		bottom: -16px;
		left: 50%;
		margin-left: -3px;
		z-index: 1;
	}

	&:hover,
	&::active,
	&:focus {
		outline: none;
		opacity: 1;
		transform: scale(1);
	}

	&:focus + .mask {
		z-index: 4;
	}
}

.mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}
