@import 'helpers';

.root {
	font-family: 'PT Sans Narrow';
	width: 100%;
	height: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 40px;
	text-transform: uppercase;
	cursor: pointer;
	color: var(--color-link);
	text-decoration: none;
	padding-top: 1px;
	box-sizing: border-box;
	display: inline-block;

	@media (--wide) {
		font-size: 20px;
	}

	&::after {
		position: absolute;
		top: 40px;
		left: 6px;
		width: 100%;
		height: 6px;
		transform: skew(45deg);
		transform-origin: 0 100% 0;
		content: '';
	}

	&:hover,
	&_state_active {
		color: var(--color-link);
		background-color: var(--color-menu-active);

		&::after {
			background-color: var(--color-menu-active-shadow);
		}
	}

	&_state_active {
		.arrow {
			display: block;
		}
	}
}

.arrow {
	position: absolute;
	left: 50%;
	top: 100%;
	border-width: 8px 7px 7px;
	border-style: solid;
	border-color: #FDB00A transparent transparent;
	margin-left: -7px;
	z-index: 1;
	box-shadow: 0 -3px #FDB00A;
	display: none;

	&::before {
		position: absolute;
		top: -10px;
		left: 0;
		width: 7px;
		height: 10px;
		background-color: #D5721B;
		border-left: 1px solid #D5721B;
		transform: rotate(42deg);
		transform-origin: 0 100% 0;
		content: '';
	}
}
