@import 'helpers';

.root {
	display: block;
	z-index: 2;
}

.link {
	margin-top: 3px;
	padding: 0 5px;
	margin-left: 3px;
	display: inline-block;
	text-decoration: underline;
	font-family: 'PT Sans Narrow';
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
	color: var(--color-language);

	&_active {
		color: var(--color-link);
		text-decoration: none;
		background-color: var(--color-language);
		cursor: default;
		pointer-events: none;
	}
}
