@import 'helpers';

.root {
	position: relative;
	background-image:
		radial-gradient(
			circle at 50% 200px,
			rgba(234, 217, 185, .25) 130px,
			rgba(234, 217, 185, .15) 500px,
			rgba(234, 217, 185, 0) 1000px
		),
		url('../../images/background/page.jpg');
	background-color: #043351;
	background-size: 100% 2000px, auto;
	background-repeat: no-repeat, repeat;
	display: block;
	min-width: 1024px;

	&::before {
		pointer-events: none;
		position: fixed;
		z-index: 10000;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: '';
		visibility: hidden;
		background-color: rgba(0, 0, 0, .5);
		opacity: 0;
		transform: opacity .5s ease-in-out, visibility 0s linear .5s;
	}

	&_active {
		&::before {
			transition-delay: 0;
			opacity: 1;
			visibility: visible;
		}

		.wrapper {
			transform: translate3d(-55%, 0, 0);

		}

		.contacts {
			transform: translate3d(0, 0, 0);
		}
	}
}

.wrapper {
	padding-top: 35px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	backface-visibility: hidden;
	transition-property: transform;
	transition-duration: .5s;
	transition-timing-function: ease-in-out;
	box-sizing: border-box;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
	flex-grow: 1;
	width: 100%;
	min-width: 1000px;
	max-width: 1300px;
}

.contacts {
	position: fixed;
	z-index: 100000;
	top: 0;
	right: 0;
	height: 100vh;
	width: 970px;
	max-width: 100%;
	overflow-y: auto;
	backface-visibility: hidden;
	will-change: transform;
	transform: translate3d(100%, 0, 0);

	&_mounted {
		transition: transform .5s ease-in-out;
	}
}
