.root {
	position: relative;
	height: 545px;
	margin: 0 30px;
	display: block;

	&::before,
	&::after {
		margin-left: 426px;
		left: calc((100% - 918px) * .5);

		@media (max-width: 1100px) {
			left: 21px;
		}

		@media (min-width: 1300px) {
			left: calc(8.5% + 16px);
		}
	}

	&::before {
		position: absolute;
		top: 0;
		width: 1px;
		background: #6C0400;
		display: block;
		height: 123px;
		content: '';
	}

	&::after {
		position: absolute;
		top: 281px;
		width: 1px;
		background: #6C0400;
		display: block;
		height: 265px;
		content: '';
	}
}

.wrapper {
	position: relative;
	height: 100%;
	display: block;

	&::after,
	&::before {
		content: '';
		position: absolute;
		background-repeat: no-repeat;
		pointer-events: none;
	}

	&::after {
		top: 128px;
		right: 20px;
		max-width: 458px;
		background-image: url('../../images/outsource/tech-right.png');
		background-size: 458px 130px;
		background-position: right center;
		height: 130px;
		left: calc((100% - 918px) * .5 + 506px);

		@media (max-width: 1100px) {
			left: calc(21px + 506px);
		}

		@media (min-width: 1300px) {
			left: calc(8.5% + 16px + 506px);
		}
	}

	&::before {
		top: 120px;
		left: 69px;
		background-image: url('../../images/outsource/tech-left.png');

		background-size: 445px 167px;
		background-position: left center;
		height: 167px;
		width: calc((100% - 918px) * .5 + 279px);

		@media (max-width: 1100px) {
			width: calc(21px + 279px);
		}

		@media (min-width: 1300px) {
			width: calc(8.5% + 16px + 279px);
		}
	}
}

.square {
	position: absolute;
	width: 159px;
	height: 159px;
	border: 1px solid #6C0400;
	padding: 13px;
	top: 123px;
	margin-left: 348px;
	left: calc((100% - 918px) * .5);
	display: block;
	box-sizing: border-box;

	@media (max-width: 1100px) {
		left: 21px;
	}

	@media (min-width: 1300px) {
		left: calc(8.5% + 16px);
	}
}

.content {
	width: 133px;
	height: 133px;
	background: #F2EBD9;
	font-family: 'RodchenkoCTT';
	font-size: 24px;
	color: #333333;
	padding-top: 22px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .075em;
	display: block;
	box-sizing: border-box;

	&::before {
		content: '';
		display: block;
		margin-left: 37px;
		width: 50px;
		height: 53px;
		background-image: url('../../images/outsource/magic.png');
		background-size: contain;
		background-repeat: no-repeat;
		margin-bottom: 20px;
	}
}

.left,
.right {
	position: absolute;
	top: 0;
	height: 100%;
}

.left {
	left: -40px;
	margin-left: 60px;
	width: calc((100% - 918px) * .5 + 329px);

	@media (max-width: 1100px) {
		width: calc(21px + 329px);
	}

	@media (min-width: 1300px) {
		width: calc(8.5% + 16px + 329px);
	}
}

.right {
	right: -40px;
	max-width: 521px;
	left: calc((100% - 918px) * .5 + 506px);

	@media (max-width: 1100px) {
		left: calc(21px + 506px);
	}

	@media (min-width: 1300px) {
		left: calc(8.5% + 16px + 506px);
	}

	&::before {
		top: 220px;
		left: 0;
		width: 69px;
		height: 36px;
		content: '';
		position: absolute;
		background-image: url('../../images/outsource/tech-bottom.png');
		background-repeat: no-repeat;
		background-size: 69px 36px;
		background-position: right center;
	}
}

.section {
	position: absolute;
	left: 0;
	right: 0;
	text-align: right;

	&_css {
		top: 213px;
	}

	&_html {
		top: 112px;
	}

	&_js {
		top: 127px;
		padding-right: 56px;

		.item {
			margin-left: auto;
			text-align: left;
		}
	}

	&_build {
		top: 210px;
		left: 80px;
		text-align: left;
	}
}

.title {
	position: absolute;
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	white-space: nowrap;
	font-family: 'Courier New';
	color: #333333;

	&_css {
		top: 42px;
		left: 171px;
		right: 0;
	}

	&_html {
		top: 19px;
		left: 185px;
		right: 0;
	}

	&_js {
		top: -3px;
		left: 10px;
		right: 283px;
	}
}

.item {
	width: 107px;
	position: relative;
	font-size: 14px;
	line-height: 28px;
	font-family: 'Courier New';
	display: block;
	text-align: inherit;
	text-transform: uppercase;
	color: #333333;

	&_type_main {
		font-size: 16px;
	}
}

.technology {
	position: absolute;
	right: 9.3%;
	top: 312px;
	padding: 30px 33px;
	width: 380px;
	height: 146px;
	border-width: 1px;
	border-style: solid;
	border-color: #333333;
	box-sizing: border-box;

	@media (max-width: 1100px) {
		right: 4%;
	}
}

.use {
	font-size: 14px;
	position: relative;
	font-family: 'Roboto';
	font-weight: 300;
	color: #333333;
	margin-top: 15px;
	white-space: nowrap;
	display: block;

	&::before {
		content: '';
		display: inline-block;
		width: 7px;
		height: 7px;
		border: 1px solid #6B0000;
		border-radius: 50%;
		margin-right: 24px;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 16px;
		height: 1px;
		background: #000000;
		left: 8px;
		top: 50%;
	}

	&_fill {
		&::before {
			background: #6B0000;
		}
	}
}
