.root {
	display: block;
	color: #333333;
	margin-bottom: 22px;

	&:last-child {
		margin-bottom: 0;
	}
}

.title {
	margin-bottom: 3px;
	padding-bottom: 3px;
	display: table;
	font-family: 'RodchenkoCTT';
	font-size: 15px;
	line-height: 1;
	letter-spacing: .075em;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: transparent;
	text-decoration: none;
	color: inherit;

	&_state_active {
		cursor: pointer;
		border-bottom-color: #6C0400;
		transition-duration: .25s;
		transition-property: color, border-bottom;
		will-change: color, border-bottom;

		&:hover {
			color: #CB240A;
			border-bottom: 1px dashed #CB240A;
		}
	}
}
