.root {
	position: fixed;
	display: block;
	z-index: 10200;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .9);
	opacity: 0;
	transition: opacity .3s ease;
	backface-visbility: hidden;
	will-change: opacity;

	&_active {
		opacity: 1;

		.content {
			transform: translate3d(0, 0, 0);
		}
	}
}

.close {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	display: block;
	width: 64px;
	height: 64px;
	cursor: pointer;
	backface-visibility: hidden;

	&::before,
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 20px;
		height: 5px;
		background-color: #FFFFFF;
		transition: background-color .3s ease;
		content: '';
		backface-visibility: hidden;

	}

	&::before {
		transform: rotate(-45deg);
	}

	&::after {
		transform: rotate(45deg);
	}

	&:hover {
		&::before,
		&::after {
			background-color: #CCCCCC;
		}
	}
}

.content {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	text-align: center;
	transition-duration: .3s;
	transition-property: transform;
	transform: translate3d(0, -100px, 0) scale(.5);
	backface-visibility: hidden;
	will-change: transform;
	display: block;
}
